dl.inline {
	dt, dd {
		float: left;
	}

	dd + dt, dd + dd {
		clear: left;
	}

	dd + dd {
		float: none;
	}

	dd h3 {
		margin: 0;
	}

	dt {
		text-align: right;
	}

	.row {
		margin-bottom: 0.5em;
	}

	p:first-child {
		margin-bottom: 0.3em;
	}

}

.forkme {
	position: absolute; 
	top: 0; right: 0; border: 0; 
	width: 149px; 
	height: 149px;
}

.sticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}

.sidebar {
	position: absolute;
	right: 0px;
	margin: 1.5em;

	.headshot {
		height: 10em;
		margin: 0.5em;
		float: left;
	}

	.details {
		margin: 0.5em;
		float: right;
	}
}

body:last-child {
	margin-bottom: 2em;
}
